<div class="login-wrapper">
    <div class="login-form-wrapper">
        <div class="login-title bold">
            Log in
            <!--<img class="login-title-img" src="./assets/images/log-in.svg">-->
        </div>
        <div class="input-wrapper">
            <div class="input-label">
            email
            </div>
            <input class="input" name="email" type="text" [(ngModel)]="loginData.email">
        </div>
        <div class="input-wrapper">
            <div class="input-label">
            password
            </div>
            <input class="input" type="password" [(ngModel)]="loginData.password">
        </div>
        <div class="register">
            <div class="register-text">
                Don't have an account?
            </div>
            <div class="register-link" (click)="register()">
                Register.
            </div>
        </div>
        <div class="button-wrapper">
            <button id="login-button" class="button" (click)="login()">Login</button>
        </div>
        <div class="error-wrapper">
            <div class="error" *ngFor="let error of errors">{{error}}</div>
        </div>
    </div>
    <!--<app-landscape></app-landscape>-->
</div>