<div class="question-details-wrapper">
  <div class="question-header">
    <div class="question-title">
      What’s the difference between regular food and organic food?
    </div>
    <div class="question-data-wrapper">
        <div class="question-date">
          4.12.2017
        </div>
        <div class="question-data-divider">
          ||
        </div>
        <div class="question-category">
            Ecology
          </div>
      </div>
  </div>
  <div class="question-content">
      Zamrznjena zelenjava je najboljša alternativa za svežo v času,
      ko lokalno pridelane sveže zelenjave še ni na voljo oziroma je iz
      različnih razlogov ne moremo kupiti. Sodobno hitro zamrzovanje
      ohrani skoraj vse hranilne lastnosti sveže zelenjave, zato je
      vsekakor bolje kupiti zamrznjeno cvetačo kot tisto, ki je na police
      supermarketa pripotovala od daleč. Pri nakupu take zelenjave
      moramo biti pozorni na znake, ali je bila morda temperatura v
      zamrzovalniku previsoka. Če se na zelenjavi nabira led ali so
      deli sprijeti v kepe, je bolje, da take zelenjave ne kupimo. Čeprav
      je zamrznjena zelenjava pravilno hranjena (vsaj pri –18 °C), ni
      mogoče povsem ustaviti procesa razgradnje vitaminov; povprečno
      se na mesec izgubi od 1 do 5 odstotkov vitaminov. Rok uporabe
      zamrznjene zelenjave je lahko tudi do tri leta, zato je priporočljivo,
      da izberemo sveže zamrznjeno zelenjavo, katere rok uporabe je še
      zelo dolg.
      <br><br>
      Pri stalnem pomanjkanju časa se zdi predpripravljena hrana
      (zamrznjene pice, omake, lazanje, juhe iz vrečk ipd.) odlična
      izbira. Industrija dobro ve, kako nas zapeljati in obdržati: s
      pravilnim razmerjem med soljo, sladkorjem in maščobami. Kot
      so pokazali številni potrošniški testi (pri nas se s tem ukvarja
      Zveza potrošnikov Slovenije), so tovrstna živila odločno prepolna
      vseh treh »zapeljivcev«. Predpripravljena hrana vsebuje še
      veliko drugih dodatkov, ki naredijo obrok privlačnejši: arome,
      barvila, konzervansi. Osnovni namen aditivov je podaljšanje roka
      uporabnosti, žal pa jih proizvajalci vse pogosteje dodajajo zato,
      da so živila na pogled lepša in imajo izrazitejši okus. Poleg tega z
      nakupovanjem te hrane prispevamo še k večjemu kupu odpadkov
      v domačem gospodinjstvu, embalažo, ki združuje različne
      materiale, pa je včasih popolnoma nemogoče ustrezno ločiti.
      Trgovinske police nam ponujajo različne mlečne in biskvitne
      rezine, ki naj bi nadomestile zajtrk ali malico. Največji porabniki
      so otroci, ki jim starši tovrstne prigrizke kupujejo v dobri veri, da
      so boljša izbira kot npr. piškoti ali čokoladice. Pa je res tako? Ena
      od zelo priljubljenih biskvitnih rezin tehta 30 gramov in vsebuje
      blizu 10 gramov sladkorja. Če sladkorju prištejemo še maščobo,
      je to skoraj polovica teže biskvitka (13,5 grama od skupaj 30
      gramov). Pri tovrstnih prigrizkih, ki so pravzaprav slaščice, je
      dobro preveriti njihove sestavine in hranilno tabelo. 
  </div>
  <!--<app-landscape></app-landscape>-->
</div>

