<div class="question-wrapper">
  <div class="question-title">
      <img class="nquestion-title-img" src="./assets/images/question-for-today3.svg">
  </div>
<!--
<tr *ngFor='let question of questions'>
  <td>{{ question.questionText }}</td>
  <td>{{ question.questionAnswers[0] }}</td>
  <td>{{ question.questionAnswers[1] }}</td>
  <td>{{ question.questionAnswers[2] }}</td>
  <td>{{ question.questionAnswers[3] }}</td>
</tr>
-->

  <div class="question">
    <div class="question-text">
        text
    </div>
    <div class="answers-wrapper">
      <div class="question-answer-wrapper"><div class="question-answer">a</div></div>
      <div class="question-answer-wrapper"><div class="question-answer">a</div></div>
      <div class="question-answer-wrapper"><div class="question-answer">a</div></div>
      <div class="question-answer-wrapper"><div class="question-answer">a</div></div>
    </div>
  </div>
  <div class="submit-button-wrapper">
    <button class="button" (click)="submit()">Submit</button>
  </div>
</div>