<!--The content below is only a placeholder and can be replaced.-->
<div class="app-wrapper">
  <div class="navigation">
    <app-navigation [navigation]="navigation" (navigationEvent)="receiveClickedLink($event)"></app-navigation>
  </div>
  <div class="nav-mobile">
    <div class="nav-mobile-element icon" *ngIf="user">
      <img class="nav-icon" src="./assets/images/menu2.svg" (click)="toggleNavigation()">
    </div>
    <div class="nav-mobile-element logo">
      <a [routerLink]="['/home']" class="nav-mobile-logo-a" (click)="this.navigation = false"><img class="nav-mobile-logo" src="./assets/images/logo4.svg"></a>
    </div>    
    <div class="nav-mobile-element profile" *ngIf="user">
      <a [routerLink]="['/profile']">
        <div class="nav-mobile-profile">
          <div class="nav-mobile-profile-username">
            {{user.username}}
          </div>
          <div class="nav-mobile-profile-points">
            {{user.points}}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
     
</div>
<!--
<div class="nav">
  <div class="nav-link">
    <a [routerLink]="['/question']">Question</a>
  </div>
  <div class="nav-link">
    <a [routerLink]="['/login']">Login</a>
  </div> 
  <div class="nav-link">
    <a [routerLink]="['/admin-panel']">Admin Panel</a>
  </div> 
</div>
-->

<!-- <app-question></app-question> -->


