<div class="articles-wrapper">
  <div class="articles-title bold">
    All Questions
  </div>
  <div class="new-article-link-wrapper" *ngIf="user.admin">
    <a class="new-article-link" [routerLink]="['/new-article']">
      <button class="button">
        new
      </button>
    </a>
  </div>
  <div class="articles-message">
    {{message}}
  </div>
  <div class="article-element" *ngFor='let article of articles'>
    <a [routerLink]="['/article', article._id]">
      <div class="article-text">
        {{article.question}}
      </div>
    </a>
    <div class="article-admin-options" *ngIf="user.admin">
        <a [routerLink]="['/edit-article', article._id]">
          <div class="article-admin-options-element">
            Edit
          </div>
        </a>
        <div class="article-admin-options-element" (click)="deleteArticle(article._id)">
          Delete
        </div>
    </div>
  </div>
</div>