<div class="edit-article-wrapper">
    <div class="edit-article-title">
      Edit article
    </div>
    <div class="edit-article-content">
      <div class="input-wrapper">
        <div class="input-label" >
          Question
        </div>
        <input class="input question" [(ngModel)]="article.question">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          1. answer
        </div>
        <input class="input answer" [(ngModel)]="article.answer1">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          2. answer
        </div>
        <input class="input answer" [(ngModel)]="article.answer2">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          3. answer
        </div>
        <input class="input answer" [(ngModel)]="article.answer3">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          4. answer
        </div>
        <input class="input answer" [(ngModel)]="article.answer4">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          Correct answer
        </div>
        <select class="select" [(ngModel)]="article.correctAnswer" placeholder="correct answer">
          <option *ngFor="let c of [1,2,3,4]" [ngValue]="c" [selected]="c === article.correctAnswer"> {{c}} </option>
        </select>
      </div>
      <div class="input-wrapper date">
        <div class="input-label">
          Date
        </div>
        <input class="input date" type="date" [(ngModel)]="articleData.date">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          URL
        </div>
        <input class="input answer" [(ngModel)]="article.url">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          PDF attachment
        </div>
        <button class="button" (click)="pdfFileRemoved = true" *ngIf="article.pdf || !pdfFileRemoved">Remove existing</button>
        <input class="input answer" type="file" *ngIf="article.pdf === '' || pdfFileRemoved" (change)="handlePdf($event.target.files.item(0))">
      </div>
      <div class="input-wrapper">
        <div class="input-label">
          Article text
        </div>
        <textarea class="textarea" [(ngModel)]="article.articleText"></textarea>
      </div>
      <div class="button-wrapper">
        <button class="button" (click)="saveArticle()">save</button>
      </div>
    </div>
  </div>