@import '../../variables.scss';

.profile-info {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-picture {
        .profile-picture-img {
            width: 150px;
            height: auto;
        }
    }

    .profile-info-text {
        text-align: center;

        .profile-username {
            color: $blue;
            font-size: 30px;
        }
        
        .profile-points {
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: $very-dark-gray;
            width: auto;
            color: $green;
            font-size: 23px;
        }

        .profile-email {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}
