<div class="user-wrapper">
    <div class="profile-info">
      <div class="profile-picture">
        <img class="profile-picture-img" src="./assets/images/f_purple.png">
      </div>
      <div class="profile-info-text">
        <div class="profile-username">
          tina_1
        </div>
        <div class="profile-points">
          1234
        </div>
        <div class="profile-email">
          tina.avbelj@gmail.com
        </div>
        <div class="profile-quote">
          Quote
        </div>
      </div>
    </div>
  <div class="user-username">
    {{user?.email}}
  </div>
</div>
