<div class="profile-wrapper">
  <div class="profile-title bold">
    Profile
  </div>
  <div class="profile-content">
    <div class="profile-info">
      <!--
      <div class="profile-picture">
        <img class="profile-picture-img" src="./assets/images/f_purple.png">
      </div>
    -->
      <div class="profile-info-text" *ngIf="user">
        <div class="profile-username">
          {{user.username}}
        </div>
        <div class="profile-points">
          {{user.points}}
        </div>
        <div class="profile-email">
          {{user.email}}
        </div>
      </div>
    </div>
    <div class="awards-title bold">
        AWARDS
    </div>
    <div class="awards">
      <div class="award">
        <div class="award-picture">
          <img class="award-picture-img" src="./assets/images/award1.svg">
        </div> 
        <div class="award-text">
            First correct answer
        </div>
      </div>
      <div class="award">
        <div class="award-picture">
          <img class="award-picture-img" src="./assets/images/award2.svg">
        </div> 
        <div class="award-text">
            Three correct answers in a row
        </div>
      </div>
      <div class="award">
        <div class="award-picture">
          <img class="award-picture-img" src="./assets/images/award3.svg">
        </div> 
        <div class="award-text">
            You answered every day for a week
        </div>
      </div>
    </div>
  </div>
</div>