<div class="nav-wrapper " [class.opened-mobile-nav]="navigation">
  <div class="nav-logo-wrapper">
    <a [routerLink]="['/home']">
      <img class="nav-logo-img" src="./assets/images/logo4.svg">
    </a>
  </div>
  <div class="nav-profile-wrapper">
    <div class="nav-profile-picture">
      <!--<img class="nav-profile-picture-img" src="./assets/images/f_purple.png">-->
    </div>
    <a [routerLink]="['/profile']">
      <div class="nav-username bold">
        {{userService.user?.username}}
      </div>
      <div class="nav-points">
        {{userService.user?.points}}
      </div>
    </a>
  </div>
  <div class="nav-links-wrapper">
    <a [routerLink]="['/home']" (click)="clickedLink()">
      <div class="nav-link">
        <div class="nav-link-picture">
          <img class="nav-link-picture-img" src="./assets/images/icon-today.svg">
        </div>
        TODAY
      </div>
    </a>
    <a [routerLink]="['/profile']" (click)="clickedLink()">
      <div class="nav-link">
          <div class="nav-link-picture">
              <img class="nav-link-picture-img" src="./assets/images/icon-profile.svg">
            </div>
            PROFILE
      </div>
    </a>
    <a [routerLink]="['/articles']" (click)="clickedLink()">
      <div class="nav-link">
          <div class="nav-link-picture">
            <img class="nav-link-picture-img" src="./assets/images/icon-all.svg">
          </div>
        ALL QUESTIONS
      </div> 
    </a>
    <a [routerLink]="['/leaderboard']" (click)="clickedLink()">
      <div class="nav-link">
          <div class="nav-link-picture">
            <img class="nav-link-picture-img" src="./assets/images/icon-leaderboard4.svg">
          </div>
        LEADERBOARD
      </div> 
    </a>
    <a [routerLink]="['/login']" (click)="clickedLink()">
      <div class="nav-link">
          <div class="nav-link-picture">
              <img class="nav-link-picture-img" src="./assets/images/icon-logout.svg">
            </div>
        Log out
      </div> 
    </a>
  </div>
</div>
