<div class="home-wrapper">
    <div class="question-wrapper">
        <div class="question-title">
            <img class="question-title-img" src="./assets/images/question-for-today3.svg">
        </div>
        <div class="question">
            <div class="question-text">
                {{article.question}}
            </div>
            <div class="answers-wrapper">
                <div class="question-answer-wrapper" [class.selected]="selectedAnswer1" (click)="selectAnswer(1)"><div class="question-answer">{{article.answer1}}</div></div>
                <div class="question-answer-wrapper" [class.selected]="selectedAnswer2" (click)="selectAnswer(2)"><div class="question-answer">{{article.answer2}}</div></div>
                <div class="question-answer-wrapper" [class.selected]="selectedAnswer3" (click)="selectAnswer(3)"><div class="question-answer">{{article.answer3}}</div></div>
                <div class="question-answer-wrapper" [class.selected]="selectedAnswer4" (click)="selectAnswer(4)"><div class="question-answer">{{article.answer4}}</div></div>
            </div>
        </div>
        <div class="submit-button-wrapper">
            <button class="button" (click)="submit()">Submit</button>
        </div>
        <div class="message">
            {{message}}
        </div>
    </div>
</div>