<div class="register-wrapper">
    <div class="register-form-wrapper">
        <div class="register-title bold">
            Register
            <!--<img class="login-title-img" src="./assets/images/log-in.svg">-->
        </div>
        <div class="input-wrapper">
          <div class="input-label">
            Username
            </div>
            <input class="input" [(ngModel)]="registerData.username">
        </div>
        <div class="input-wrapper">
            <div class="input-label">
            Email
            </div>
            <input class="input" [(ngModel)]="registerData.email">
        </div>
        <div class="input-wrapper">
            <div class="input-label">
            Password
            </div>
            <input class="input" [(ngModel)]="registerData.password" type="password">
        </div>
        <div class="input-wrapper">
            <div class="input-label">
            Confirm password
            </div>
            <input class="input" [(ngModel)]="passwordConfirmation" type="password">
        </div>
        <div class="login">
            <div class="login-text">
                Already have an account?
            </div>
            <div class="login-link" [routerLink]="['/login']">
                Log in.
            </div>
        </div>
        <div class="button-wrapper">
            <button class="button" (click)="register()">Register</button>
        </div>
        <div class="error-wrapper">
            <div class="error" *ngFor="let error of errors">{{error}}</div>
        </div>
    </div>
</div>
