@import '../../variables.scss';

.register-wrapper {
    height: 100vh;
    overflow-y: scroll;
    background-image: url("~/assets/images/pattern.svg");
    background-color: $bg-dark-gray;
    background-size: 400px 400px;

    .register-form-wrapper {
        width: 40vw;
        margin: auto;
        margin-top: 30px;

        @include breakpoint-768 {
            width: 90vw;
        }

        .register-title {
            margin-bottom: 30px;
            font-size: 50px;
            color: $red;
            text-align: center;
        }

        .input-wrapper {
            margin-bottom: 20px;
            .input-label {
                margin-bottom: 10px;
                color: $light-gray;
            }
        }

        .button-wrapper {
            margin-top: 50px;
            text-align: center;
        }
    }
}